/* font import link for Raleway and Cabin */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@100;300&display=swap');

/* wild-card asterix ensures more accurate formatting, removes defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans serif;
    font-weight: 400;
    color: #283d26;
}
/* headings and logo */

h1, h2 {
font-family: Cabin, sans serif;
text-transform: uppercase;
letter-spacing: 3px;
color: #283d26;
}

#logo {
float:left;
font-size:200%;
padding-left:30px;
padding-right: 40px;
}

#menu {
font-size:110%;
letter-spacing: 3px;
}

#logo, #menu, .social-media li {
    line-height: 75px;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 31px;
    padding-left: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;    
}
#menu a:hover {
    border-bottom: 1.5px solid #3a3a3a;
}
.social-media {
    text-align: center;
}

.social-media li {
    list-style-type: none;
    margin-left: 31px;
    float: right;
    padding-right: 40px;
} 

.social-media > li {
    display: inline;
}

.social-media i {
    padding: 3%;
    margin: 4%;
    color:#3a3a3a;
    font-size: 160%;
}
.active {
    border-bottom: 1.5px solid #3a3a3a;
}
 /* Targeting middle section with hero image */

 .hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/hero-image.jpg') no-repeat center center;
 }

  #hero-image-text h2 {
    color: #283d26;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 160%;
    font-weight: 400;
  }
  
  #hero-image-text h3 {
    color: #283d26;
    text-align: center;
    font-family: Cabin, sans-serif;
    letter-spacing: 2px;
    text-transform: none;
 }

 /* Search bar styling */

 form {
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 37%;
    text-align: center;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  input {
    all: unset;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: grey;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
  
  /* Styling for the magnifying glass */
  svg {
    color: grey;
    fill: currentColor;
    text-align: left;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  /* Styling and placement for search bar taken from Love Running form  */
  .signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
#hero-image-text {

    font-family: Railway, sans serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 600px;
    height: 200px;

    padding-top: 40px;
    padding: left 60px;

    top: 27%;
    text-align: center;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    }

    #featured-properties-title h2 {
        margin-left: 10px;
    }

    #featured-properties-title div {
        width: 100%;
        height: 30px;
        background-color: #FFCC99;
    }
    .featured-properties {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        background-color: red;
    }

    #container-left {
        background-image: url(../css/images/burkes.jpeg);
    }
