/* font import link for Lora and Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* wild-card asterix ensures more accurate formatting, removes defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans serif;
    font-weight: 400;
    color: #283d26;
}
/* headings and logo */

h1, h2 {
font-family: Lora, sans serif;
text-transform: uppercase;
letter-spacing: 3px;
color: #283d26;
}

header {
  top:0; left:0; right:0; 
  z-index: 1000;
  padding: 2px 2px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: Ubuntu, sans-serif;
  float:left;
  font-size:200%;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 40px;
  text-decoration: none;
}

#site-menu {
font-size:110%;
letter-spacing: 3px;
}

#logo, #menu, #social-media {
    line-height: 75px;
}

#site-menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 10px;
}

#site-menu a {
    text-decoration: none;
    color: inherit;    
}
#site-menu a:hover {
    border-bottom: 1.5px solid #3a3a3a;
}

.active {
    border-bottom: 1.5px solid #3a3a3a;
}
 /* Targeting middle section with hero image */

 
 .hero-image {
    height: 650px;
    width: 100%;
    background: url('../css/images/south-harbour.jpg') no-repeat center center;
    overflow: hidden;
    position: relative;
 }
 
 /* Search bar styling */

 #form {
  
    background-color: rgba(243, 233, 233, 0.7);
    width: 600px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 75%;
    text-align: center;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  input {
    all: unset;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: grey;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
  
  /* Styling for the magnifying glass */
  svg {
    color: grey;
    fill: currentColor;
    text-align: left;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  /* Styling and placement for search bar taken from Love Running form  */
  .signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.hero-image-text {

    font-family: Ubuntu, sans serif;
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;

    width: 400px;
    height: 300px;

    padding: 20px;

    background-color: rgba(243, 233, 233, 0.4);

    bottom: 60px;
    top: 35%;
    text-align: center;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    }

  .hero-image-text, .hero-image-text h2 {
      color: black;
    }

  #discover-them {
    text-decoration: none;
    color: black;
    }
   
  #discover-them:hover {
      border-bottom: 1.5px solid #3a3a3a;
    }
    
    #join-us {
      height: 150px;
    }

    #explanation {
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }

    /* Resets */

    img {
    max-width: 100%;
    }

    footer {
      height: 150px;

    }
  
  .social-media {
    text-align: center;
} 
/* Now target list items and align horizontally - go back and use this method for the home nav bar! */

.social-media > li {
  display: inline;
}
/* NOw the icons need to be targeted and styled */

.social-media i {
    padding: 2%;
    margin: 2%;
    color: #283d26;
    font-size: 160%;
}

.heading {
  padding: 2%;
}

/* Property listing boxes */

.featured .box-container {
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding: 2%;
}

.featured .box-container .box {
 border:.1rem solid rgba(0,0,0,.2);
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 border-radius: .5rem;
 overflow: hidden;
 flex:1 1 30rem;
}

.image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25rem;
}

 .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s linear;
}

/* For the zoom effect */
.featured .box-container .box:hover .image-container img{
  transform: scale(1.1);
}

.featured .box-container .box .image-container .icons{
  position: absolute;
  top:1rem; right:0;
  display: flex;
}

.featured .box-container .box .image-container .icons a{
  font-size: 1.4rem;
  display: flex;
  border-radius: .5rem;
  background: rgba(0,0,0,.3);
  margin-right: 1rem;
  padding:.7rem;
}

.featured .box-container .box .image-container .icons a:hover{
  opacity: 0.7;
}

.featured .box-container .box .content{
  padding:1.5rem;
}

.heart{
  display: flex;
  align-items: center;
  justify-content: right;
}

.heart h3{
  opacity: 0.7;
  font-size: 2rem;
  margin-right: auto;
}

 .heart a {
  color:#283d26;
  font-size: 1.5rem;
  margin-right: .5rem;
  border-radius: .5rem;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
  background:#f7f7f7;
}

 .heart a:hover{
  opacity: 0.7;
  color:#fff;
}

.featured .box-container .box .content .location{
  padding:1rem 0;
}

.featured .box-container .box .content .location h3{
  font-size: 2.5rem;
}

.featured .box-container .box .content .location p{
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: .5rem;
}

.featured .box-container .box .content .details{
  padding:.5rem 0;
  display: flex;
}

.featured .box-container .box .content .details h3{
  flex:1;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  color:#999;
  font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i{
  color:#333;
  padding-left: .5rem;
}

.featured .box-container .box .content .buttons{
  display: flex;
  gap: 1rem;
}

.featured .box-container .box .content .buttons .btn{
  flex: 1;
  font-size: 1.5rem;
}

/* Fixing footer to bottom of page */
footer {
  left:0px;
  bottom:0px;
  width:100%;
  height:auto;
  background-color:#E6E6FA;
}

html footer {
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* About us form section */

.form-section {
  /* clear: left; */
  background-color: #fafafa;
  background-size: cover;
  background-image: url('../css/images/door.jpg') no-repeat center center;
  background-position: center;
  height: 900px;
}

/*Form styling*/

.record-form {
  margin: 150px 10% 0 0;
  color: #fafafa;
  max-width: 400px;
  position: absolute;
  padding: 30px;
}

.record-form h2 {
  color: #283d26;
  margin-bottom: 20px;
}
.text-input {
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: whitesmoke;
}

.join-button {
  margin-top:20px;
  border-radius:2px;
  text-align: center;
  font-size: 100%;
  background-color: #283d26;
  color: #fafafa;
  display:block;
}
.join-button:hover {
  background-color: #fafafa;
  opacity: 0.7;
}
/* Styling for discover them here anchor */
